@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: #222222;
    color: white;
}

.left {
    width: 300px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 13px;
    font-family: "Poppins", sans-serif;
}

.left img {
    display: flex;
    flex-direction: row;
    /* margin: 3px; */
    margin-top: 10px;

}

.left h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border-radius: 20px;
    height: 60px;
    width: 250px;
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}


.logo img {
    position: absolute;
   
}

.logo {
    position: absolute;
    display: flex;
    margin: 5px;
}



.logo ul li {
    color: #A5D6A7;
    display: flex;
    padding: 55px;
    margin-top: -49px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.playertitle {
    transition: text-shadow 0.3s ease;
}

.playertitle:hover{
    text-shadow: 0 0 5px #18193F, 0 0 10px #18193F, 0 0 15px blue; 
}

.search {
    width: 390px;
    height: 55px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 13px;
    margin: 10px auto;
}

.search input {
    height: 35px;
    width: 253px;
    border-radius: 6px;
    margin: 12px;
}

.search button {
    height: 39px;
    width: 70px;
    border-radius: 12px;

}


.library ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
    font-size: 19px;
    margin: 12px;
    transition: color 0.3s;
}


.library ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
    margin: 20px 23px 0px 23px;
    font-family: "poppins";
}

.library ul li img {
    width: 29px;
    height: 25px;
    filter: invert(100%);
}

.centior {
    margin-right: 57px;
    transition: color 0.3s;
}

.library ul li:hover .centior {
    color: #A5D6A7;
}

.likor{
    transition: color 0.3s;
    
}

.library ul li:hover .likor {
    color: #A5D6A7;
}

.center {
    width: 1015px;
    height: 600px;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 13px;
    color: white;
}

.center ul li img{
    width: 60px;
    height: 40px;
    filter: invert(100%);
    padding:  16px;
    /* position: absolute; */
}

.center ul li{
    list-style: none;
}

.albu{
    margin: 24px 0px 0px -17px;
    position: absolute;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.cardcontainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
}



.cards{
    width: 182px;
    background-color: #252525;
    border-radius: 10px;
    position: relative;
    
    
}

.cards img{
    object-fit: contain;
    width: 100%;
    border-radius: 12px;
}

.cards >*{
    padding-top: 5px;
}

.btntrns1{
    /* opacity: 0; */
    transition: ease-in-out 0.5s;
    position: absolute;
    top: 180px;
    right: 3px;
}

/* .btntrns1:hover{
    opacity: 100%;
} */

.btn-20,
.btn-20 *,
.btn-20 :after,
.btn-20 :before,
.btn-20:after,
.btn-20:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-20 {
  background-color:#000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: poppins;
  font-weight: 900;
  line-height: 1;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  width: 70px;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.btn-20:disabled {
  cursor: default;
}
.btn-20:-moz-focusring {
  outline: auto;
}
.btn-20 svg {
  display: block;
  vertical-align: middle;
}
.btn-20 [hidden] {
  display: none;
}
.btn-20 {
  border-radius: 99rem;
  border-width: 2px;
  border-color: #18193F;
  overflow: hidden;
padding: 10px 2px ;
  position: relative;
}
.btn-20 span {
  mix-blend-mode: difference;
}
.btn-20:before {
  background: 
  #A5D6A7;
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transform: skew(0deg) translateX(-20%);
  transition: transform 0.2s ease;
  width: 120%;
}
.btn-20:hover:before {
  transform: skew(45deg) translateX(75%);
}

